.news-articles-preview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.search-form{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form input{
  width: 100px; 
  height: 40px
}

.search-form button{
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #8a8a8a;
}

.search-form button:hover {
  background-color: #228a1f
}

.search-form button:active {
  background-color: #228a1f;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.news-article-preview, .news-article {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
  cursor: pointer;
}

.news-article-preview h2, .news-article h2 {
  font-size: 1.25em;
  margin: 15px 0 10px;
}

.news-article-preview img, .news-article img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.news-article-preview p, .news-article p {
  font-size: 1em;
  color: #333;
}

.news-article-preview button, .news-article button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.news-article-preview button:hover, .news-article button:hover {
  background-color: #0056b3;
}

.news-article {
  max-width: 800px;
  margin: 20px auto;
}

.news-article button {
  margin-top: 20px;
}

.MuiAutocomplete-inputRoot {
  max-height: 50px !important;
  overflow-y: auto;
}